@font-face {
  font-family: 'notokr';
  src: url('#{$font-path}/notokr-light.eot');
  src: url('#{$font-path}/notokr-light.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/notokr-light.woff2') format('woff2'),
    url('#{$font-path}/notokr-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'notokr';
  src: url('#{$font-path}/notokr-regular.eot');
  src: url('#{$font-path}/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/notokr-regular.woff2') format('woff2'),
    url('#{$font-path}/notokr-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notokr';
  src: url('#{$font-path}/notokr-medium.eot');
  src: url('#{$font-path}/notokr-medium.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/notokr-medium.woff2') format('woff2'),
    url('#{$font-path}/notokr-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'notokr';
  src: url('#{$font-path}/notokr-bold.eot');
  src: url('#{$font-path}/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/notokr-bold.woff2') format('woff2'),
    url('#{$font-path}/notokr-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

