h1{
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.top-content{
  padding: 15px;
  background-color: #f4f2f2;
}

.title{
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.text{
  display: block;
  font-size: 15px;
  color: #666;
}